:host {
  display: block;
}

mat-card {
  border-color: aqua;
  border-width: 2em;
  width: 40em;
}

mat-calendar {
  border-color: brown;
  border-width: 2em;
  visibility: visible;
}

.highlight {
  background-color: yellow;
}
